.card__image {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    max-width: 100%;
    height: 78.1%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}